@(signupForm: Form[components.form.SignupForm])(implicit lang: Lang)

@import play.api.i18n._
@import _helpers.main._

@_layouts.main() {

  <h1>Signup</h1>
  @if(signupForm.hasErrors) {
    <ul>
    @signupForm.errors.map { err =>
      <li>@Messages(err.message, err.args: _*)</li>
    }
    </ul>
  }
  @helper.form(routes.SignupController.verify()) {
    <dl>
      <dt>Email address</dt>
      <dd>@toHtmlInput(signupForm("email"))</dd>
    </dl>
    <dl>
      <dt>Password</dt>
      <dd>@toHtmlInput(signupForm("password.main"), 'type -> "password")</dd>
    </dl>
    <dl>
      <dt>Password (confirmation)</dt>
      <dd>@toHtmlInput(signupForm("password.confirmation"), 'type -> "password")</dd>
    </dl>
    <input type="submit" value="Submit">
  }
}
