@(accountsEntryForm: Form[models.form.AccountsEntryForm])(implicit lang: Lang)

@import play.api.i18n._
@import _helpers.main._

@_layouts.main(Some("Account Registration")) {

  @if(accountsEntryForm.hasErrors) {
<div class="alert alert-danger">
  <ul>
    @accountsEntryForm.errors.map { err =>
    <li>@Messages(err.message, err.args: _*)</li>
    }
  </ul>
</div>
  }

<div style="width: 400px">
  @helper.form(routes.AccountsController.postEntry()) {
  <div class="well">
    <div class="form-group">
      <label>E-mail</label>
      @toHtmlInput(accountsEntryForm("email"),
          'class -> "form-control")</div>
    <div class="form-group">
      <label>Password</label>
      @toHtmlInput(accountsEntryForm("password.main"), 'type -> "password",
          'class -> "form-control")</div>
    <div class="form-group">
      <label>Re-type Password</label>
      @toHtmlInput(accountsEntryForm("password.confirmation"), 'type -> "password",
          'class -> "form-control")</div>
    <div>
      <input type="submit" value="Sign Up" class="btn btn-success">
    </div>
  </div>
  }
</div>
}
